body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #36393f;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #40444b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
  }
  
  h1 {
    text-align: center;
    color: #fff;
  }
  
  input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #202225;
    color: #fff;
  }
  
  input[type="text"]::placeholder {
    color: #72767d;
  }
  
  button {
    padding: 10px 20px;
    background-color: #7289da;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #677bc4;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #36393f;
    border-bottom: 1px solid #2f3136;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  